.cv-template3-download-box {
  max-height: 90%;
  min-height: 90%;
  min-width: 210mm;
  max-width: 210mm;
  margin-right: unset;
  border-radius: 0% !important;
  box-shadow: unset;
  border: 1px solid #c5c5c5;
  .css-y7jnfg-MuiPaper-root {
    border-radius: 0% !important;
  }
  .css-vj1n65-MuiGrid-root {
    display: flex;
    height: 296mm;
  }
  .cv-template-side-bar {
    background: #c0cbd7;
    height: inherit;
  }
  .cv-template-body {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    .cv-template-body-container {
      height: inherit;
      width: 100%;
    }
    .cv-template-body-title-container {
      height: 37%;
      display: flex;
      margin-bottom: -10%;
      justify-content: center;
      align-items: flex-end;
    }
    .cv-template-body-title {
      font-size: 36px;
      margin-left: 38px;

      padding-bottom: 20px;
      color: #58595b;
      padding-left: 6px;
      font-family: Univers Next Pro thin Versal;
    }
    .cv-template-body-detail {
      font-size: 18px;
      font-family: Univers;
      color: #58595b;
      align-items: center;
      height: 70.1%;
      display: flex;
      .cv-template-body-detail-title {
        width: 100%;
        display: flex;
        justify-content: end;
        font-family: Univers Next Pro thin Versal;

        .head {
          font-weight: 600;
          display: flex;
          font-size: 18px;
          width: 38%;
        }
        .detail {
          display: flex;
          width: 45%;
          font-weight: normal;
        }
      }
      .cv-template-body-detail-text {
        margin-right: 5px;
      }
    }
  }
}
